/* Page Formatting */

/* Coloring */
body {
    background-color:rgb(245,245,245);
}
.top-bar, .interior {
    background-color:rgb(200,25,25);
}
.header {
    background-color:rgb(25,25,25);
}
.interior {
    color:          rgb(245,245,245);
}
.footer {
    background-color:           rgb(25,25,25);
}

/* Padding */
body {
    padding:         0.0rem 0.5rem 0.5rem 0.5rem;
}
.header {
    padding:        2rem 0rem 1rem 2rem;
}
.footer {
    padding:        .5px 1rem 1.5rem 1rem;
    margin-top:     2rem;
}
.aboutbox {
    width:          200px;
    height:         215px;
    padding-top:    1rem;
    margin:         0.5rem 0.5rem 0.5rem 0.5rem
}

/* Border */
.top-bar {
    border-radius:  3rem;
}
.header {
    border-top-left-radius:     3rem;
    border-top-right-radius:    3rem;
}
.interior {
    border-radius:      3rem;
}
.footer {
    border-bottom-left-radius:  3rem;
    border-bottom-right-radius: 3rem;
}
.aboutbox {
    border-radius:1rem;
}

/* Button Formatting */
.subhead,.glamshot {
    display:inline-block;
}
.aboutbox {
    display:inline-block;
}

/* Button Formatting */

/* Coloring */
button {
    background-color:rgb(30,30,30);
    color:          rgb(245,245,245);
}
/*button:hover{
    background-color:rgb(210,30,30);
}*/

/* Padding */
button {
    padding:    0.5rem 1rem 0.5rem 1rem;
}

/* Border */
button {
    border:         none;
    border-radius:  1rem;
}
.twitch, .github, .youtube {
    border:         none;
    border-radius:  5px;
}

/* Misc */
button {
    transition: background-color 0.75s, opacity 0.5s;
}

button:active{
    opacity: 0.85;
}

.segements_button, {
    transition: opacity 0.5s;
}
/*.linkedin:active{
    opacity: 0.75; Will Review*/

/* Image Formatting */
.glamshot {
    width:          100px;
    height:         100px;
    object-fit:     cover;
    border-radius:  1rem;
}

.img_segment {
    max-height:100%;
    max-width:100%;
}

/* Link Formatting */
a {
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
}

.nav {
    background-color:rgb(20,20,20);
    color:          rgb(245,245,245);
}

.footnav {
    background-color:rgb(120,20,20);
    color:          rgb(245,245,245);
}

.github {
    background-color:rgb(20,20,20);
    color:          rgb(245,245,245);
}

.youtube {
    background-color:rgb(255,0,0);
    color:          rgb(245,245,245);
}
.linkedin {
    background-color:rgb(0, 119, 181);
    color:          rgb(245,245,245);
}

.twitch {
    background-color:rgb(100,65,165);
    color:          rgb(245,245,245);
}
